@import url('https://fonts.googleapis.com/css?family=Nunito:200|Work+Sans:300,400');

html body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("https://source.unsplash.com/collection/1879905");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  font-family: 'Nunito', sans-serif;
  font-size: 2rem;
  color: white;
  background-position: center top;
  height: 650px;
}

h1 {
  font-size: 3rem;
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  padding-top: 5rem;
}

#verseDisplay {
  padding-left: 20rem;
  padding-right: 20rem;
}

@media (max-width: 768px) {
  #verseDisplay {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

button {
  margin-top: 3rem;
  font-size: 1rem;
  font-family: 'Work Sans', sans-serif;
  background-color: transparent;
  padding: 1rem;
  color: white;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  border-color: white;
  border-width: 2px;
}

button:hover {
    background-color: white; /* Green */
    color: black;
}
